body{
    background-color: #F0F2F5;
    padding: 0;
    margin: 0;
}
.header{
    height: 100vh;
     position: relative;
    
}
.header-nav{
    height: 12%;
     background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: teal;
    font-size: 1.5em;
    font-weight: bolder;
    

}
.nav-link{
    text-decoration: none;
    color: teal;
    font-size: 1.2rem;
}
.nav-item{
    list-style: none;
    padding: 0 2rem ;
    margin: 0 1rem;
}
/* header nav finish here */
/* ************************** */

/* header slider start here */
.header-slider{
    height:82.5%;
    width: 80%;
    position: relative;
    max-width:  85%;
    margin: 1rem auto;
    border-radius: 20px ;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);

}
.slider-img{
   position: absolute;
   height: 100%;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   border-radius: 20px;


}
.btns{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-btn{

    width: 3.5rem;
    text-decoration: none;
    height: 4rem;
    font-size: 4rem;
    color: white;
    text-align: center;
    
}
.slider-title{
    position: absolute;
    background-color: white;
    padding: .3rem 1rem;
    border-radius: 0 7px 7px 0;
}
/* About me section here */

.about{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);



}
.about-mypic{
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;


}
.about-text{
    width: 60%;
    text-align: center;
}