body{
    font-family: 'Courier New', monospace;
    background-color: #F0F2F5;
    padding: 0;
    margin: 0;
}

.header-nav{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.nav-bar{
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    

}
.nav-link{
    text-align: center;
    text-decoration: none;
    color: rgb(3, 180, 180);
    font-size: 1.2rem;
}
.nav-link:hover{
   
   color: white;
   text-decoration:  underline  rgb(3, 180, 180)  ;

}

.nav-item{
    font-weight: bold;
    font-size: 1.3rem;
    list-style: none;
    padding: 1.5rem 1rem ;
    margin: 1rem .5rem;
}
/* header nav finish here */
/* ************************** */

/* header slider start here */
.header-slider{
    height: 80vh;
    width: 80%;
    position: relative;
   
    margin: 1rem auto;
    border-radius: 20px ;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);

}
.slider-img{
   height: 100%;
   width: 100%;
   border-radius: 20px;
   position: absolute;
   border-radius: 20px ;
   left: 0;
   top: 0;
}

.img{
 border-radius: 20px ;
 height: 100%;
 width: 100%;
 display: block;
 float: left;
 width: 100%;
 border: 0;
}
.btns{
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-btn{

    width: 3.5rem;
    text-decoration: none;
    height: 4rem;
    font-size: 4rem;
    color: white;
    text-align: center;
    
}
.slider-title{
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    padding: .3rem 1rem;
    border-radius: 0 7px 7px 0;
}
/* About me section here */

.about{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);
    background-image: url(./images/brown-wooden-wall-with-hole-3652419.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.about-mypic{
    
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 7px 7px 15px  black;


}
.about-desc{
    width: 70% ;
    background-color: rgba(255, 255, 255, 0.705);
    margin: 1rem auto;
    border-radius: 5px;

}
.about-text{
    margin: 1.5rem auto;
    padding: 0 2rem;
    color: black;
    font-family: Arial;
    font-size: 1.2rem;
    line-height: 1.5rem;    

}
.about-title{
    color:white;
    text-decoration: underline dotted yellow;
    font-size: 2rem;
    font-weight: bolder;

}

/* contact section start here */
.contact{
    margin: 1rem auto;   

}

.contact-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:  none;
    background-color: yellow;
    box-sizing: border-box;


}

.contact-item>i{
    color: #0F2027;
    font-size: 4rem;
    margin: 1rem 0;
}
.contact-item>span{
    font-size: 1.5rem;
    font-weight: bold;

    
}


/* Footer start here */
footer{
    margin-top: 2rem;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.footer-title{
 color: white;
 font-size: 2.5rem;
 font-weight: bolder;
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
}
.footer-text{
    font-size: 2rem;
    padding-top: 1rem;
    color:  rgb(3, 180, 180);
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 3;
}
.footer-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.footer-item{
  font-size: 5rem;
  padding: 0 2rem;
}
.footer-link{
    text-decoration: none;
    color: turquoise;    
}
.footer-link:hover{
    color: yellow;

}
@media only screen and (max-width: 1000px) {
    /* Header  */
    .nav-bar{
        height: unset;
        width: 100%;
        flex-direction: column;
        margin: 0 ;
        justify-content: unset;

    }
    .nav-list{
      flex-direction: column;  
      justify-content: space-around;
      
    
    }
  
    .nav-title{
        color: yellow;
        text-align: center;
        font-size: 2rem;
        
        
    
    }
    .nav-item{
        font-size: 2rem;
        padding:0 ;
        margin: .5rem 0;
    }
    .nav-link{
        color: rgb(3, 180, 180);
        font-size: 2rem;
    }
    .nav-link:hover{
       color: yellow;
       text-decoration:  underline  white  ;
    
    }
    .nav-link:visited{
        
        text-decoration:  underline gray  ;

     
     }
    /* /header */
/* ******************************* */

/* Slider */
.header-slider{
    height: 40vh;  
    width: 100%;
    position: relative;
 
}

/* /slider */

/* **************************** */
/* About */
.about{
    width: 100%;
      
}
.about-desc{
    width: 90% ;
  ;

}
/* /about */
/* ***************** */
  /* Contact */
  .contact-list{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline-start: 10px;


}
.contact-item>i{
   
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
.contact-item>span{
    font-size: 1.1rem;
    font-weight: bold;

    
}
  /* /contact */
/* ******************************* */
      /* Footer  */
      footer{
        width: 100%;
          flex-direction: column;
      }
      .footer-list{
      flex-direction: column;
      
    }
      .footer-item{
        font-size: 4rem;
        padding: 1rem 0;
      }
      .footer-text{
       text-align: center;
    }
    /* /Footer */
}
